@font-face {
        font-family: Roboto;
        font-style: normal;
        src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
        font-family: 'Roboto Condensed';
        font-style: normal;
        src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
}

@font-face {
        font-family: 'Roboto Slab';
        font-style: normal;
        src: url('../fonts/Roboto-Slab-Regular.woff2') format('woff2');
}

.dnd5e.sheet.actor.npc {
  min-height: auto;
}

.armyUnit {
  background: black;
  padding: 17px;
  height: 534px;
  width: 734px;
  margin: 0px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: fixed;
}

.armyUnit input {
  display: none;
  background: transparent;
  border: none;
  outline: none;
}

.armyUnitsheetimg {
  border: 0px;
}

.armyUnit-art {
  position: relative;
  width: 97%;
  height: 400px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px 5px 0 0;
  background: black;
  z-index: 0;
  margin: 0 auto;
  overflow-y: hidden;
}

.armyUnit-artwork {
  width:100%;
}

.armyUnit-name {
  padding: 5px;
  background: rgba(200, 200, 200, 0.2);
  border-radius: 4px/20px;
  width: 530px;
  position: relative;
  top: -383px;
  left: 17px;
  right: 0;
  z-index: 2;
}

.armyUnit-name span {
  color: blanchedalmond;
  opacity: 1;
  text-align: left;
  padding: 5px;
  font: 900 35px 'Roboto Condensed';
  text-shadow: 2px 2px 5px rgba(0, 0, 0);
  display: contents;
}

.armyUnit-name input[type="text"] {
  color: blanchedalmond;
  position: relative;
  top: auto;
  left: auto;
  opacity: 1;
  padding: 5px;
  text-align: left;
  font: 900 35px 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0);
}

.armyUnit-text {
  padding: 3px;
  position: relative;
  width: 530px;
  top: -383px;
  left: 17px;
  right: 0;
  z-index: 2;
}

.armyUnit-text span {
  color: white;
  font: 500 25px 'Roboto', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0);
  text-transform: capitalize;
  text-align: left;
}

.armyUnit-text input {
  color: white;
  border: solid;
  text-align: left;
  font: 500 25px 'Roboto', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0);
}
.armyUnit-bio {
  top: -400px;
  left: 17px;
  color: white;
}

.armyUnit-bio-text {
  font: 300 12px 'Roboto', sans-serif;
}

.armyUnit-hp {
  padding: 7px;
  border-radius: 20px/20px;
  background: rgba(230, 230, 230, 0.4);
  position: relative;
  top: -513px;
  left: 573px;
  z-index: 3;
  color: black;
  width: 100px;
  text-align: center;
}

.armyUnit-hp span {
  font: 900 20px 'Roboto Condensed', sans-serif;
}

.armyUnit-hp span.hitpoints {
  color: black;
  font: 900 40px 'Roboto', sans-serif;
}

.armyUnit-tokens {
  border-radius: 10px/10px;
  padding: 5px;
  background: rgba(200, 200, 200, 0.2);
  position: relative;
  top: -490px;
  left: 550px;
  z-index: 3;
  color: black;
  width: 120px;
  text-align: center;
}

.armyUnit-token {
  max-height: 60px;
}

.armyUnit-traitbox {
  color: white;
  position: relative;
  top: -520px;
  left: 17px;
  z-index: 2;
  height: 220px;
  width: 300px;
  display: flex;
  padding: 3px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  align-items: flex-start;
}

.onetraitbox {
  position: relative;
  top: 0;
}

.onetraitbox .traitname {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  font: 500 22px 'Roboto', sans-serif;
}

.onetraitbox a.armyUnit-delTrait.armyUnit-alert {
  color: darkred;
}

.onetraitbox .trait-description.expanded {
  display: inline-block;
  background: rgba(50,50,50,0.3);
}

.onetraitbox .trait-description {
  display: none;
}

.onetraitbox .trait-description span {
  font: 300 12px 'Roboto', sans-serif;
}

.armyUnit-commander {
  padding: 3px;
  border-radius: 10px/10px;
  background: rgba(200, 200, 200, 0.6);
  color: black;
  position: relative;
  width: 250px;
  top: -570px;
  left: 424px;
}

.armyUnit-commander span.commander {
  font: 400 10px 'Roboto', sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

.armyUnit-commander span {
  font: 900 22px 'Roboto', sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

.armyUnit-stats {
  position: relative;
  width: 97%;
  height: 100px;
  padding: 7px;
  border-style: solid;
  z-index: 3;
  top: -550px;
  left: 10px;
  background: ghostwhite;
}

.armyUnit-statblock {
  position: relative;
  padding: 7px;
  margin: 2px;
  width: 75px;
  height: 48px;
  float: left;
  text-align: center;
  vertical-align: middle;
}

.armyUnit-statbonus {
  font: 900 25px 'Roboto', sans-serif;
}

input.armyUnit-statbonus[type="number"] {
  font: 900 25px 'Roboto', sans-serif;
  top: auto;
  left: auto;
}

.armyUnit-statname {
  font: 900 25px 'Roboto', sans-serif;
}

.armyUnit-statvalue {
  font: 900 25px 'Roboto', sans-serif;
}

.armyUnit-statspacer {
  position: relative;
  width: 185px;
  height: 60px;
  float: left;
}

.armyUnit-attack {
  position: relative;
  top: 3px;
  left: 10px;
  width: 88px;
  height: 88px;
  z-index: 3;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(0.75, 0.75);
}

.armyUnit-attack div {
  position: relative;
  color: black;
  text-align: center;
  font: 900 36px 'Roboto', sans-serif;
  top: -60px;
}

.armyUnit-dam {
  z-index: 4;
  width: 59.16px;
  height: 59.16px;
  position: relative;
  top: -97px;
  left: 39px;
}

.armyUnit-dam-rhombus {
  position: relative;
  background: ghostwhite;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 90px;
  height: 90px;
  transform-origin: 0 0;
  transform: rotate(-45deg) scale(1, 1);
}

.armyUnit-dam-text {
  color: black;
  left: 34px;
  top: -97px;
  font: 600 23px 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.armyUnit-dam-text div {
  position: relative;
  top: -74px;
  color: black;
  /* text-align: center; */
  font: 600 48px 'Roboto', sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center */
}

.armyUnit-lock {
  top: -137px;
  left: 97px;
  position: relative;
  z-index: 4;
}

.armyUnit-tier {
  z-index: 3;
  width: 59.16px;
  height: 59.16px;
  top: -95px;
  left: 66px;
  position: relative;
}

.armyUnit-tier-rhombus {
  position: relative;
  background: ghostwhite;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 52px;
  height: 52px;
  transform-origin: 0 0;
  transform: rotate(-45deg) scale(1, 1);
}

.armyUnit-tier-text {
  color: #b3a590;
  left: 10px;
  top: -65px;
  font: 400 16px 'Roboto Slab', sans-serif;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.armyUnit-tier-text div {
  position: relative;
  top: -27px;
  color: black;
  /* text-align: center; */
  font: 500 28px 'Roboto Slab', sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center */
}

.armyUnit-movement {
  position: relative;
  top: -205px;
  left: 132px;
  width: 68px;
  height: 88px;
  z-index: 3;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(0.75, 0.75);
}

.armyUnit-movement div {
  position: relative;
  color: black;
  text-align: center;
  font: 900 36px 'Roboto', sans-serif;
  top: -60px;
}
